<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts::headElement}"></head>
<body>
	<h1 th:replace="~{layouts::header}"></h1>
	<h1>Products</h1>
	<a th:href="@{products/addProduct}"><button class="btn btn-primary">Add Product</button></a>
	<table class="table table-light">
		<thead class="thead-light">
			<tr>
				<th>Sn.</th>
				<th>Name</th>
				<th>Manufacturer</th>
				<th>Description</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:Each="product : ${products}">
				<td th:text="${product.id}"></td>
				<td th:text="${product.name}"></td>
				<td th:text="${product.manufacturer}"></td>
				<td th:text="${product.description}"></td>
				<td>
					<a th:href="products+'/'+updateProduct+'/'+${product.id}"><button class="btn btn-primary">Update</button></a>
					<button class="btn btn-primary" th:attr="onclick=|deleteProduct('${product.id}')|" >Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
	<script type="text/javascript">
		function deleteProduct(id){
			let confirmed = window.confirm("Confirm Delete?");
			if(confirmed){
				window.location.replace("/products/deleteProduct/"+id);
			}
		}
	</script>
</body>
</html>